html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.siteContainer {
  display: flex;
  flex-direction: column !important;
  min-height: 100vh !important;
  background: url("/img/home.png") center center;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  list-style: none;
}
